body {
    font-family: Arial serif;
    text-align: center;
    background-size: 100vh 100vw;
}
.button {
    text-align: center;
}
.button a {
    background-image: linear-gradient(red, blue);
}

.error {
    color: white;
    padding: 20px 5px 20px 5px;
    background-color: #524f4e;
    border: 3px solid #2e2b2a;
    border-left: 3px solid red;
}
.success {
    color: white;
    padding: 20px 5px 20px 5px;
    background-color: #524f4e;
    border: 3px solid #2e2b2a;
    border-left: 3px solid greenyellow;
}

* {
    box-sizing: border-box;
}
.card-img-top {
    object-fit: cover;
    image-resolution: 700px 400px;
}
.card {
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12);
}
.grow img{
    transition: 1s ease;
}

.grow img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}
.userCard {
    padding: 15px 40px 15px 40px;
    border: 4px solid rgb(54, 60, 69);
    background-color: rgba(54, 60, 96, .1);
}
.arrows {
    padding-top: 20px;
    padding-left: 20px;
}
button.textureCreate {
    padding-bottom: 20px;
}


.cart {
    padding-top: 15px;
    position: center;
    margin-top: 5vh;
    margin-left: 35vw;
    width: 600px;
    height: 500px;
    box-shadow: 0 0 1em 0.5em magenta;
}
.hue-horizontal {
    background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0
    33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
    background: -webkit-linear-gradient(to right, #f00 0%, #ff0
    17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
    height: 20px;
    width: 300px;
    padding-left: 30vw;
}
.input {
    width: 200px;
    height: 50px;
    border: 1px black;
    color: black;
}
.border_black {
    border: 1px black;
    font-size: 16px;
}
hr {
    height: 3px;
    margin: 20px 50px 20px 50px;
    background-color: lightgray;
}
.field_permissions {
    min-height: 50px;
    min-width: 400px;
}

.submitButton {
    background-color: deepskyblue;
    border: 4px black;
    width: 125px;
    height: 40px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
}

summary {
    font-size: 25px;
}
.rankformat {
    border-radius: 20px;
    border: 2px;
    box-sizing: content-box;
    padding: 5px 10px 5px 10px;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
}