body {
    width: 99%;
    min-width: 100%;
    max-height: 100%;
    font-family: Arial, serif;
    color: white;
    object-fit: cover;
}
#background_slider {
    height: 100%;
    width: 100%;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    animation: slideBg 8s linear infinite;
    animation-timing-function: ease-in-out;
    object-fit: cover;
}
@keyframes slideBg {
    0% {
        background-image: url("/img/internal/background/chillihero1ksubs.png");
        opacity: 75%;
        object-fit: cover;
    }
    25% {
        background-image: url("/img/internal/background/orangepack.png");
        opacity: 75%;
        object-fit: cover;
    }
    50% {
        background-image: url("/img/internal/background/strawberry.png");
        opacity: 75%;
        object-fit: cover;
    }
    75% {
        background-image: url("/img/internal/background/luciferpack.png");
        object-fit: cover;
        opacity: 75%;
    }
    100% {
        background-image: url("/img/internal/background/artemisvi.png");
        opacity: 75%;
        object-fit: cover;
    }
}
.header {
    padding-top: 20px;
    margin-right: 20px
}
.header h1 {
    text-align: center;
    font-size: 80px;
}
.header img {
    float: right;
    text-align: right;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #00cfcf;;
    border-radius: 60px;
}

.accountCard {
    margin-top: 5%;
    align-items: center;
    text-align: center;
    float: left;
    margin-left: 33%;
    background-color: rgb(0,0,0);
    padding: 30px 60px 30px 60px;
}
.accountCard img {
    height: 150px;
    width: 150px;
    border: 3px solid #00cfcf;
    object-fit: cover;
    border-radius: 80px;
}
.accountCard input {
    background-color: white;
    border: 3px solid #00cfcf;
    color: black;
    margin-top: 40px;
    margin-left: 20px;
    float: right;
}

.accountCard button {
    background-color: transparent;
    color: #00cfcf;
    padding: 10px 40px 10px 40px;
    margin-top: 4%;
    border-radius: 30px;
    border: 3px solid #00cfcf;
}

.accountCard.urlSelect {
    float: left;
    width: 98%;
    margin-top: 2%;
    height: 2%;
    margin-left: 1%;
    padding: 17px 40px 17px 40px;
}